@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #e9ecef;
    margin: 0px;
    padding: 0px;
}
header{
    width: 1113px;
    margin: 0px auto;
}
nav{
    margin-top:42px;
    margin-bottom: 31px;
}
header ul{
    list-style-type: none;
    float: right;
    margin-top: 30px;
    margin-bottom: 0px;
}
header>img{
    float: left;
    margin-top: 1px;
}
header ul li{
    display: inline-block;
    margin-left: 79px;
    font-size: 20px;
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
header ul li a{
    text-decoration: none;
    color: black;
}
.headerlist{
    color: #47be6b;
}
#main{
    width: 100%;
    height: 511px;
    background-image: url(..//image/beaner.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 90px;
    text-align: center;
}
#main>p{
    color: white;
    margin: 0px;
    font-size: 100px;
    font-family: 'Baloo Bhai';
    padding-top: 180px;
}
#list{
    width: 1113px;
    margin: 0px auto;
}
#list ul{
    padding: 0px;
    list-style-type: none;
    margin-bottom: 34px;
}
#list ul li{
    display: inline-block;
    margin-right: 60px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
#list ul li:first-child{
    color: #47be6b;
}
#allbox1{
    width: 1113px;
    margin: 0px auto;
    padding-bottom: 100px;
}
article{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#box1, #box2, #box3, #box4, #box5, #box6{
    width: 350px;
}
#smallbox1, #smallbox2, #smallbox3, #smallbox4, #smallbox5, #smallbox6{
    width: 100%;
    height: 258px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#inbox1, #inbox2, #inbox3, #inbox4, #inbox5, #inbox6{
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 99;
    display: none;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.7);
}
#smallbox1:hover #inbox1{
    display: block;
}
#inbox1>div{
    padding-top: 80px;
}
#inbox1>div>p{
    padding-top: 10px;
}
#inbox2>div{
    padding-top: 80px;
}
#inbox2>div>p{
    padding-top: 10px;
}
#inbox3>div{
    padding-top: 80px;
}
#inbox3>div>p{
    padding-top: 10px;
}
#inbox4>div{
    padding-top: 80px;
}
#inbox4>div>p{
    padding-top: 10px;
}
#inbox5>div{
    padding-top: 80px;
}
#inbox5>div>p{
    padding-top: 10px;
}
#inbox6>div{
    padding-top: 80px;
}
#inbox6>div>p{
    padding-top: 10px;
}
#smallbox2:hover #inbox2{
    display: block;
}
#smallbox3:hover #inbox3{
    display: block;
}
#smallbox4:hover #inbox4{
    display: block;
}
#smallbox5:hover #inbox5{
    display: block;
}
#smallbox6:hover #inbox6{
    display: block;
}
#longbox1, #longbox2, #longbox3, #longbox4, #longbox5, #longbox6{
    width: 100%;
    height: 40px;
    background-color: lightgreen;
    margin-bottom: 70px;
    text-align: center;
    cursor: pointer;
}
#longbox1>p{
    padding-top: 10px;
    color: white;
}
#longbox2>p{
    padding-top: 10px;
    color: white;
}
#longbox3>p{
    padding-top: 10px;
    color: white;
}
#longbox4>p{
    padding-top: 10px;
    color: white;
}
#longbox5>p{
    padding-top: 10px;
    color: white;
}
#longbox6>p{
    padding-top: 10px;
    color: white;
}
footer{
    width: 100%;
    height: 131px;
    margin: 0px;
    padding: 0px;
    background-color: #2f3536;
    text-align: center;
}
footer>p{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #868e86;
}
footer>p:nth-child(1){
    padding-top: 27px;
    padding-bottom: 13px;
}
#modal{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
}
#modal2{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
}
#modal3{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
}
#popup{
    width: 60%;
    height: 60%;
    margin: 200px auto;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 101;
    border: 1px solid black;
    background-color: #e9ecef;
}
#close{
    position: fixed;
    right: 400px;
}
